alembic==1.0.0
backcall==0.1.0
certifi==2018.8.24
cftime==1.0.1
chardet==3.0.4
click==6.7
cloudpickle==0.5.6
cycler==0.10.0
dask==0.19.1
decorator==4.3.0
Flask==1.0.2
Flask-Migrate==2.2.1
Flask-SQLAlchemy==2.3.2
idna==2.7
ipython==6.5.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
kiwisolver==1.0.1
line-profiler==2.1.2
lxml==4.2.5
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.2.3
memory-profiler==0.54.0
netCDF4==1.4.1
networkx==2.1
numexpr==2.6.8
numpy==1.15.1
pandas==0.23.4
pandas-datareader==0.7.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
prompt-toolkit==1.0.15
psutil==5.4.7
psycopg2==2.7.5
ptyprocess==0.6.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
python-editor==1.0.3
pytz==2018.5
PyWavelets==1.0.0
requests==2.19.1
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.11
toolz==0.9.0
traitlets==4.3.2
urllib3==1.23
uWSGI==2.0.17.1
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
